<h2> Список шаблонов курсов</h2>
<hr/>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" routerLink="/courseTemplate"> Загрузить шаблоны заданий  </button>
      <button class="btn btn-success" routerLink="add" > Добавить шаблон задания </button>
    </div>
  </div>
</div>
<hr/>



<div class="row">
  <div class="col-md-4">

    <ul class="list-group">
      <li class="list-group-item" *ngFor= "let course of courses" >
        <a [routerLink]="['/courseTemplate', course.courseInfoId]">
          {{ course.courseInfoId }} {{ course.name }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>

</div>
