<h2> Список пользователей</h2>
<hr/>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" routerLink="/users"> Загрузить пользователей  </button>
      <button class="btn btn-success" routerLink="add" > Добавить пользователя </button>
    </div>
  </div>
</div>
<hr/>



<div class="row">
  <div class="col-md-4">

    <ul class="list-group">
      <li class="list-group-item" *ngFor= "let user of users" >
        <a [routerLink]="['/users', user.id]">
          {{ user.id }} {{ user.firstName }} {{ user.lastName }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>

</div>
