<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        Тренинг центр
      </div>
    </div>

    <nav class="menu" *ngIf="role == 'GUEST'">
      <ul class="nav metismenu">
        <li routerLinkActive="active">
          <a [routerLink]="['', 'registration']"> <i class="fa fa-user-plus"></i> Регистрация </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['', 'login']"> <i class="fa fa-sign-in"></i> Войти </a>
        </li>
      </ul>
    </nav>

    <nav class="menu" *ngIf="role == 'STUDENT'">
      <ul class="nav metismenu">

        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'personal-course']"> <i class="fa fa-user-plus"></i> Мои курсы</a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'personal-sertificate']"> <i class="fa fa-user-plus"></i> Мои сертификаты </a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'solutions']"> <i class="fa fa-user-plus"></i> Мои решения.</a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['', 'login']"> <i class="fa fa-sign-in"></i> Выйти </a>
        </li>
      </ul>
    </nav>

    <nav class="menu" *ngIf="role == 'ADMIN'">
      <ul class="nav metismenu">


        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'role-controller']"> <i class="fa fa-sign-in"></i> Управление ролями </a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'courses']"> <i class="fa fa-sign-in"></i> Управление курсами </a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'groups']"> <i class="fa fa-sign-in"></i> Управление группами </a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'applications']"> <i class="fa fa-sign-in"></i> Управление заявками </a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'tasks']"> <i class="fa fa-sign-in"></i> Управление заданиями </a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['', 'login']"> <i class="fa fa-sign-in"></i> Выйти </a>
        </li>

      </ul>
    </nav>

  </div>
</aside>
