<div class="row">
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Информация о пользователе</h4>
    <form class="needs-validation" (ngSubmit)="submitForm(form)" #form="ngForm">
      <div class="row">

        <div class="col-md-6 mb-3">
          <label>Имя</label>
          <input
            type="text"
            class="form-control"
            ngModel name="firstName"

            placeholder=""
            value=""
            required
            #firstName="ngModel"
            [(ngModel)] ="user.firstName"
            [ngClass]="{'is-invalid': firstName.invalid && firstName.touched}"
          >
          <p  *ngIf="firstName.invalid && firstName.touched"  [ngClass]="{'invalid-feedback': firstName.invalid && firstName.touched}">
            Введите имя.
          </p>
        </div>

        <div class="col-md-6 mb-3">
          <label>Фамилия</label>
          <input
            type="text"
            class="form-control"
            ngModel name="lastName"
            placeholder=""
            value=""
            required
            #lastName="ngModel"
            [(ngModel)] ="user.lastName"
            [ngClass]="{'is-invalid': lastName.invalid && lastName.touched}"
          >
          <p  *ngIf="lastName.invalid && lastName.touched"  [ngClass]="{'invalid-feedback': lastName.invalid && lastName.touched}">
            Введите фамилию.
          </p>
        </div>

      </div>

      <div class="mb-3">
          <label>Email </label>
          <input
            class="form-control"
            ngModel name="email"
            placeholder="you@example.com"
            email
            #email="ngModel"
            required
            [(ngModel)] ="user.email"
            [ngClass]="{'is-invalid': email.invalid && email.touched}"
          >
          <p  *ngIf="email.invalid && email.touched"  [ngClass]="{'invalid-feedback': email.invalid && email.touched}">
            Введите корректный email.
          </p>
      </div>

      <div class="mb-3">
        <label>Логин</label>
        <input
          type="text"
          class="form-control"
          ngModel name="login"
          placeholder=""
          required
          #login="ngModel"
          [(ngModel)] ="user.login"
          [ngClass]="{'is-invalid': login.invalid && login.touched}"
        >
        <p  *ngIf="login.invalid && login.touched"  [ngClass]="{'invalid-feedback': login.invalid && login.touched}">
          Введите логин.
        </p>

      </div>

      <div class="mb-3">
        <label>Пароль</label>
        <input
          type="text"
          class="form-control"
          ngModel name="password"
          placeholder=""
          required
          #password="ngModel"
          [(ngModel)] ="user.password"
          [ngClass]="{'is-invalid': password.invalid && password.touched}"
        >
        <p  *ngIf="password.invalid && password.touched"  [ngClass]="{'invalid-feedback': password.invalid && password.touched}">
          Введите пароль.
        </p>
      </div>

      <div class="mb-3">
        <label>Телефон</label>
        <input
        type="text"
        class="form-control"
        ngModel name="phone"
        placeholder=""
        required
        #phone="ngModel"
        [(ngModel)] ="user.phone"
        [ngClass]="{'is-invalid': phone.invalid && phone.touched}"
      >
        <p  *ngIf="phone.invalid && phone.touched"  [ngClass]="{'invalid-feedback': phone.invalid && phone.touched}">
          Введите номер телефона.
        </p>
      </div>

      <div class="mb-3">
        <label>Роль</label>
        <select
          class="custom-select d-block w-100"
          ngModel name="role"
          required
          #role="ngModel"
          [(ngModel)] ="user.role"
          [ngClass]="{'is-invalid': role.invalid && role.touched}"
        >

          <option value="USER">Гость</option>
          <option value="STUDENT"> Студент </option>
          <option value="ADMIN"> Администратор </option>
        </select>
        <p  *ngIf="role.invalid && role.touched"  [ngClass]="{'invalid-feedback': role.invalid && role.touched}">
          Выберите роль.
        </p>
      </div>


      <hr class="mb-4">
      <button
        class="btn btn-primary btn-lg btn-block"
        type="submit"
        [disabled] ="!form.valid"
      >Сохранить</button>
    </form>
  </div>
</div>

