<section class="section">
  <div class="row">

    <div *ngFor="let c of courseList">
      <div class="col-md-4 ">
        <div class="card">
          <div class="cell" >
            <h3>
              {{c.name}}
            </h3>

            <div>
              Описание: {{c.description}}
            </div>

            <div>
              Курс ведет: {{c.firstName}} {{c.lastName}}
            </div>

            <div>
              Дата начала: {{c.start | tcMoment }}
            </div>

            <div>
              Дата окончания: {{c.end | tcMoment }}
            </div>

            <div>
              Описание: {{c.description}}
            </div>

            <div class="buttonDes">
              <button type="button" class="btn btn-primary btn-block" (click)="onEnroll(c.courseId)">Записаться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
