<section class="section">
  <div class="row">
<style>
  p.short20{
    max-height: 70px;
    overflow: hidden;
  }
</style>
    <div *ngFor="let c of courseList">
      <div class="col-md-4 ">
        <div class="card" style="height: 420px">
          <div class="cell" style="max-height: 420px; overflow: hidden">
            <div style="height: 340px; overflow: hidden">
              <h3>{{c.name}}</h3>
              <p class="short20" title="{{c.description}}">Описание: {{c.description}}</p>
              <p class="short20" title="{{c.firstName}} {{c.lastName}}">Курс ведет: {{c.firstName}} {{c.lastName}}</p>
              <p class="short20" title="{{c.start | tcMoment }}">Дата начала: {{c.start | tcMoment }}</p>
              <p class="short20" title="{{c.end | tcMoment }}">Дата окончания: {{c.end | tcMoment }}</p>
              <p class="short20" title="{{c.description}}">Описание: {{c.description}}</p>
            </div>
            <div class="buttonDes">
              <button type="button" class="btn btn-primary btn-block" (click)="onEnroll(c.courseId)">Записаться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
