<section class="section">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Изменение роли пользователя</h3>
          </div>
        </div>
        <div class="card-block">
          <div
            class="alert alert-{{message.type}}"
            *ngIf="message.text"
          >
            {{message.text}}
          </div>

          <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <div class="form-group">
              <label class="control-label" for="user">Выберите пользователя</label>
              <select
                class="form-control"
                id="user"
                [ngModel]="currentUser"
                name="user"
                required
              >
                <option
                  *ngFor="let c of users"
                  [value]="c.id"
                >
                  {{c.firstName}} {{c.lastName}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label" for="role">Выберите роль</label>
              <select
                class="form-control"
                id="role"
                [ngModel]="currentRole"
                name="role"
                required
              >
                <option
                  *ngFor="let c of roles"
                  [value]="c.role"
                >
                  {{c.text}}
                </option>
              </select>
            </div>



            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="form.invalid"
            >Отправить
            </button>

          </form>


        </div>
      </div>
    </div>
  </div>
</section>

